:root {
    --border: #00008b;
    --background-color: rgb(5,10,24);

    /* gradient colours */
    --grad1: #FF595E;
    --grad2: #FFCA3A;
    --grad3: #8ac926;
    --grad4: #1982C4;
    --grad5: #6a4c93;
}

body {
    background-color: var(--background-color);
    display: grid;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    place-items: center;
}

.card {
    aspect-ratio: 1/1.6;
    border: 0.5vmin solid var(--border);
    width: 56vmin;
    position: relative;
    cursor: pointer;    
}

.card:hover:before {
    background-position: 100% 100%;
    transform: scale(1.05, 1.03);
}

.card:hover > .content {
    background-position: -10% 5%;
}

.card:hover > .content > .card-text > .card-text-word {
    transform: translateY(0%);
    transition: 
        opacity 0ms,
        transform 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 1;
}

.card:before {
    background: linear-gradient(
        130deg,
        var(--grad1) 20%,
        var(--grad2) 41.75%,
        var(--grad3) 64.25%,
        var(--grad4) 83.625%,
        var(--grad5) 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    width: 100%;
    top: 0px;
    position: absolute;
    left: 0px;
    z-index: 1;
    transition: background-position 350ms ease, transform 350ms ease;
}

 .content {
    background-image: radial-gradient(
        rgba(200,200,200,0.2) 8%,
        transparent 9%
    );
    background-size: 8vmin 8vmin;
    background-position: 0% 0%;
    height: calc(100% - 10vmin);
    width: calc(100% - 10vmin);
    position: relative;
    padding: 5vmin; 
    z-index: 2;
    transition: background-position 350ms ease;
 }

 .card-title,
 .card-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 350;
    margin: 0px;
 }

 .card-title {
    font-size: 6vmin;
 }

 .card-text {
    font-size: 4vmin;
    margin-top: 2vmin;
 }

 .card-text-word {
    display: inline-block;
    position: relative;
    margin: 0vmin 0.3vmin;
    transform: translateY(40%);
    transition: none;
    opacity: 0;
 }


